// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

#app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-image {
  width: 800px;
  max-width: 80vw;
  filter: drop-shadow(3px -7px 4px rgba(255, 255, 255, 0.7)) drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.17)) drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.14)) drop-shadow(-1px 10px 16px rgba(106, 156, 209, 0.3));
}

footer .footer-logo, nav .nav-logo {
  filter: drop-shadow(2px -2px 2px rgba(255, 255, 255, 0.8)) drop-shadow(-2px 3px 3px rgba(160, 160, 200, 0.7)) drop-shadow(-1px 3px 6px rgba(50, 50, 80, 0.25));
}

.card {
  margin-bottom: 1rem;
}
